.layout{
    background-color: var(--bg-color);
    height: 100vh;
    padding-top: var(--header-height);
}

.container{
    width: 100%;
    background-color: var(--color-contrast-primary);
    height: 100%;
}

.main{
    max-width: 1024px;
    margin: auto;
    color: var(--fore-color);
    background-color: var(--bg-color);
    height: 100%;
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.2);
}