.header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
}

.list a:hover,
.list a.active {
  background-color: var(--color-primary-300);
  color: var(--color-gray-900)

}
