* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --header-height: 64px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --bg-color: white;
  --fore-color: #333;

  /* Header CSS */
  --header-bg-color: white;
  --header-color: #f6ad1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-contrast-primary: whitesmoke;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

[data-theme="dark"] {
  --bg-color: #242424;
  --fore-color: whitesmoke;

  --color-contrast-primary: black;
/* Header CSS */
  --header-bg-color: var(--color-gray-700);
  --header-color:#f6ad1b;
}

*{
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a .active{
  text-decoration: underline;
}

div{
  transition: 0.4s;
}


button{
  border-radius: 4px;
  outline: none;
  border: none;
}

button:hover{
  opacity: 0.8;
}
